.banner {
    color: $white;
    min-height: 300px;
    background-image: url("./../../assets/images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center top;

    h1 {
        @extend .display-2;
        margin: 0 !important;
        padding-top: 40px;
    }

    h3 {
        margin: 0 !important;
        font-weight: normal;
    }

}

.home {
    .intro {
        margin-top: 10px;
    }

    .card {
        margin-top: 10px;
    }

    .overview {
        @extend .content;
        @extend .row;
        @extend .h4;

        margin-top: 50px;
        margin-bottom: 50px;
        padding: 0 30px 0 30px;
        text-align: center;
        font-weight: normal;
        line-height: 1.5;   
    }

    .registration {
        @extend .content;
        @extend .justify-content-around;
        margin-top: 40px;

        ul {
            list-style: none;
        }

        li {
            margin-left: -37px;
        }

        span {
            font-weight: $font-weight-bold !important;
            font-size: larger;
        }
    }

    .card-header {
        background-color: transparent;
        border: none;
    }

    .card-body {
        display: flex;
        height: 100%;
        flex-direction: column;
        text-align: center;
        p {
            margin-bottom: 30px;
        }
    }

    .timeline {
        .row {
             @extend .justify-content-around;
        }
         .photo {
             width: 800px;
         }
     }
     
     .feedback {
        
        margin-bottom: 10px;
        
        .carousel-indicators li {
             background-color: $teal;
        }
        .carousel-control-prev-icon {
             background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
        }
     
        .carousel-control-next-icon {
             background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
        }
     }
}