.resources {

  padding: 15px;

  .card {
    height: 100%;
  }

  .card-body {
      display: flex;
      height: 100%;
      flex-direction: column;

      p {
        margin-bottom: 30px;
      }
  }

  .card-title{
      margin-bottom: 10px;
  }

  &__block {
    margin-bottom: 7rem;
  }

  .events {

    a {
      font-weight: bold;
      font-size: $font-size-md;
      
      svg {
        height: 40px !important;
        width: 40px !important;
        fill: $teal !important;
      }
    }

    .card-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
    }

    .links {
      color: $teal;
      font-weight: bold;
    }

    ul {
      padding-inline-start: 0 !important;
      margin-top: 10px;
    }

    li { 
      display: inline; 
      margin-right: 20px;
    } 
  }

  .blog {

    .card-body {
      @extend .my-4;
    }

    .card-horizontal {
        display: flex;
        flex: 1 1 auto;
    }

    .card-columns {
      @include media-breakpoint-only(lg) {
        column-count: 4;
      }
    }

    .card-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
    }

    a {
      font-weight: bold;
      font-size: $font-size-md;
    }
  }

  .stretched-link {
    display: inline-flex;
    align-items: center;
    font-weight: bold;
    .icon {
      height: 20px;
      padding-left: 6px;
    }
  }
}


