<div class="search">
    <form class="form-inline mentor-filter">
        <div class="form-group mx-sm-1">
          <input id="keywords" class="form-control" type="text" placeholder="Keywords">
        </div>
        <div class="form-group mx-sm-1">
          <select class="form-control" id="experience">
                <option value="">Experience in Tech</option>
                <option value="1">0+ year</option>
                <option value="2">2+ years</option>
                <option value="4">3+ years</option>
                <option value="5">4+ years</option>
                <option value="7">5+ years</option>
                <option value="10">7+ years</option>
                <option value="15">10+ years</option> 
                <option value="16">16+ years</option>
            </select>
        </div>
        <div class="form-group mx-sm-1">
            <select class="form-control area" id="area">
                  <option value="">Area in tech</option>
                  <option>QA</option>
                  <option>Backend Developer</option>
                  <option>Frontend Developer</option>
                  <option>Fullstack Developer</option>
                  <option>DevOps</option>
                  <option>Distributed Systems</option>
                  <option>Data Science</option>
                  <option>Data Engineering</option>
                  <option>Android</option>
                  <option>iOS</option>
                  <option>Business Analysis</option>
                  <option>Product Management</option>
                  <option>Project Management</option>
                  <option>Machine Learning</option>
                  <option>Engineering management</option>
              </select>
          </div>
          <div class="form-group mx-sm-1">
            <select class="form-control focus" id="focus">
                  <option value="">Mentee Focus</option>
                  <option>Switch career to IT</option>
                  <option>Grow from beginner to mid-level</option>
                  <option>Grow from mid-level to senior-level</option>
                  <option>Grow beyond senior level</option>
                  <option>Switch from IC to management position</option>
                  <option>Change specialisation within IT</option>
              </select>
          </div>

          <div class="search-type form-group mx-sm-1">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="mentorship-type" id="long-term-check" value="long-term">
                <label class="form-check-label" for="long-term-check">Long Term relationship</label>
              </div>
          </div>

          <div class="search-type form-group mx-sm-1">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="mentorship-type" id="ad-hock-check" value="ad-hoc">
                <label class="form-check-label" for="ad-hock-check">Ad-Hoc</label>
              </div>
          </div>
      </form>
    </div>
</div>