<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% seo %}
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    
    <meta name="title"            content="{{ page.title }} - {{ site.title }}" >
    <meta name="description"      content="Our mentorship programme is open to anyone who is looking to improve their skills or advance their careers. Whether you are an experienced professional looking to give back to the community, or a student or new professional seeking guidance and support, our program has something for everyone." >
    
    <meta property='og:title'       content='{{ page.title }} - {{ site.title }}'/>
    <meta property='og:image'       content='https://womenwhocode.github.io/london/assets/images/share/banner-lg.png'/>
    <meta property='og:description' content='Women Who Code (WWCode) is an international nonprofit dedicated to inspiring women to excel in technology careers. Our mentorship programme is open to anyone who is looking to improve their skills or advance their careers. Whether you are an experienced professional looking to give back to the community, or a student or new professional seeking guidance and support.'/>
    <meta property='og:url'         content='https://womenwhocode.github.io/london'/>
    <meta property="og:type"        content="article" />
    <meta property="og:site_name"   content="Women Who Code">

    <meta name="twitter:creator"     content="@WWCodeLondon" >
    <meta name="twitter:site"        content="@WWCodeLondon" >
    <meta name="twitter:card"        content="summary_large_image" >
    <meta name=”twitter:url”         content="https://womenwhocode.github.io/london">
    <meta name=”twitter:title”       content="{{ page.title }} - {{ site.title }}">
    <meta name=”twitter:description” content="Our mentorship programme is open to anyone who is looking to improve their skills or advance their careers. Whether you are an experienced professional looking to give back to the community, or a student or new professional seeking guidance and support.">
    <meta name=”twitter:image”       content="https://womenwhocode.github.io/london/assets/images/share/banner-small.png">

    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="icon" href="assets/images/logo.svg">
  </head>
  <body>
    {% include navbar.html %}  
    {{ content}}
    {% include footer.html %}
  </body>
</html>
